# Pin assignment for HSC Dev Board on iCE40-HX8K FPGA
# https://github.com/HomebrewSiliconClub/Processor
# Created with <3 by Anthony Kung <hi@anth.dev>

########
# FPGA #
########

# LED Red
set_io --warn-no-port ledr 	A5

# LED Green
set_io --warn-no-port ledg 	M4

# 12MHz Clock
set_io --warn-no-port clk  	P7

# Tx Pin
set_io --warn-no-port icetx  	P4

# Rx Pin
set_io --warn-no-port icerx  	P5

##################
# FPGA SPI Flash #
##################

# CS Pin
set_io --warn-no-port icecs  	P13

# SCK Pin
set_io --warn-no-port icesck  	P12

# SDI Pin
set_io --warn-no-port icesdi  	P11

# SDO Pin
set_io --warn-no-port icesdo  	M11

#####################
# Dev Board Buttons #
#####################

# FPGA Reset
set_io --warn-no-port reset_n F3
set_io --warn-no-port sw1 F3

# MCU Reset
set_io --warn-no-port mcu_n RST
set_io --warn-no-port sw2 RST

# GPIO 9 SW3
set_io --warn-no-port sw3 A7

#######################
# Dev Board FPGA GPIO #
#######################

# GPIO 0
set_io --warn-no-port gpio0 E12

# GPIO 1
set_io --warn-no-port gpio1 D12

# GPIO 2
set_io --warn-no-port gpio2 C12

# GPIO 3
set_io --warn-no-port gpio3 B14

# GPIO 4
set_io --warn-no-port gpio4 A11

# GPIO 5
set_io --warn-no-port gpio5 C10

# GPIO 6
set_io --warn-no-port gpio6 A10

# GPIO 7
set_io --warn-no-port gpio7 D6

# GPIO 8
set_io --warn-no-port gpio8 C7

# GPIO 9 SW3
set_io --warn-no-port gpio9 A7

################
# Dev Board IO #
################

# IO 0
set_io --warn-no-port io0  A4

# IO 1
set_io --warn-no-port io1  A3

# IO 2
set_io --warn-no-port io2  A1

# IO 3
set_io --warn-no-port io3  C3

# IO 4
set_io --warn-no-port io4  C1

# IO 5
set_io --warn-no-port io5  E1

# IO 6
set_io --warn-no-port io6  G1

# IO 7
set_io --warn-no-port io7  H1

# IO 8
set_io --warn-no-port io8  J1

# IO 9
set_io --warn-no-port io9  K3

# IO 10
set_io --warn-no-port io10 M1

# IO 11
set_io --warn-no-port io11 M3

# IO 12
set_io --warn-no-port io12 P2

# IO 13
set_io --warn-no-port io13 P3

# IO 14
set_io --warn-no-port io14 M6

# IO 15
set_io --warn-no-port io15 M7

#################
# Dev Board SPI #
#################

# Tx
set_io --warn-no-port tx N14

# Rx
set_io --warn-no-port rx M12

# SCK
set_io --warn-no-port sck A2

# MISO
set_io --warn-no-port miso B1

# MOSI
set_io --warn-no-port mosi D3

# SCL 
set_io --warn-no-port scl J12

# SDA 
set_io --warn-no-port sda G12

####################
# Dev Board Memory #
####################

# ALE0
set_io --warn-no-port ale0 G3 

# ALE1
set_io --warn-no-port ale1 H3

# OE 0
set_io --warn-no-port oe0 P1

# OE 1
set_io --warn-no-port oe1 L1

# OE 2
set_io --warn-no-port oe2 N1

# OE 3
set_io --warn-no-port oe3 J3